alabaster==0.7.11
attrs==17.3.0
Babel==2.6.0
certifi==2017.11.5
chardet==3.0.4
colorama==0.3.9
coverage==4.3.4
decorator==4.3.0
deepdiff==3.3.0
docutils==0.14
hypothesis==3.38.5
idna==2.7
imagesize==1.1.0
Jinja2==2.10
jsonpickle==0.9.6
MarkupSafe==1.0
mdtraj==1.9.1
mendeleev==0.4.2
networkx==2.1
numexpr==2.6.6
numpy==1.13.3
OpenMM==7.1.1
packaging==17.1
pandas==0.23.4
pluggy==0.6.0
py==1.5.2
pyfiglet==0.7.5
Pygments==2.2.0
Pympler==0.5
pyparsing==2.2.1
pytest==3.3.0
pytest-datafiles==1.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
resp==0.0.0
scipy==1.0.0
six==1.11.0
snowballstemmer==1.2.1
snsmp2==1.0.1.dev13
Sphinx==1.8.0
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.7
tables==3.4.4
urllib3==1.23
zope.interface==4.4.3
